@font-face {
    font-family: "Ordem_Paranormal";
    src: url("/src/fonts/SpecialElite-Regular.ttf");
}
@font-face {
    font-family: 'Hexatombe_Font';
    src: url("/src/fonts/MyscaryfontByLeandrink-Regular.ttf");
}
@font-face {
    font-family: sigilos;
    src: url("/src/fonts/Sigilos-Regular.ttf");
}

body,body{
    font-family: "Hexatombe_font";
    min-height: 100vh;
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;

}
body{
    position: relative;
    isolation: isolate;
    background-image: url(parede.png);
}

.mainContent{
    position: relative;
    z-index: 1;

}
.titleContent{
    display: grid;
    justify-content: center

}

.titleContent #subTitulo{
    justify-self: center;
    font-size: clamp(1.5rem,6vw,3.5rem);
    font-family: "Hexatombe_Font";
    color: #ff0000;
    text-shadow: 
    -3px -3px 1px #000000,
    -5px -5px 2px #3a0000,
    3px 3px 1px #000000,
    6px 6px 2px #3a0000;
}
#sangue{

    display: flex;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    width: 60vmin;
    aspect-ratio: 1/1;
    max-height: 500px;
    max-width: 500px;

}
.h1{
    font-family: "Ordem_Paranormal";
}
.date{
    font-family: "Ordem_Paranormal";
    display: flex;
    justify-content: center;
    color: #ff0000;
    font-size: clamp(2rem,6vw,5.5rem);
    text-shadow:
    -4px -4px 12px #000000,
    3px 3px 12px #ca0000,
    -4px -4px 12px #770404,
    3px 3px 12px #a70000;    
}
#smoke{
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none; 
}
.bibleText{
    font-size: clamp(1.5rem,6vw,2.5rem);
    font-family: "Hexatombe_font";
    color: #ff0000;
    display: block;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
      text-shadow:
    -4px -4px 12px #000000,
    3px 3px 12px #ca0000,
    -4px -4px 12px #770404,
    3px 3px 12px #a70000; 
}